<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss} [%t] %-5level %logger{1.} - %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="log/exoplex.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="ServerRollingFile" fileName="log/sdx-server.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="ClientRollingFile" fileName="log/client.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="AuthRollingFile" fileName="log/auth.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="SafeRollingFile" fileName="log/safe-posts.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>

            <Filters>
                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>

                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="NetworkRollingFile" fileName="log/network-manager.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>

            <Filters>
                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>

                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RoutingRollingFile" fileName="log/routing-manager.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>

            <Filters>
                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>

                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="SliceRollingFile" fileName="log/slice.log"
                     filePattern="log/$${date:yyyy-MM}/slice-%d{MM-dd-yyyy}-%i.log.gz"
                     append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>

            <Filters>
                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>

                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="exoplex.sdx.core.SdxManager" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ServerRollingFile"/>
        </Logger>
        <Logger name="safe.sdx.AuthorityMockSdx" level="debug" additivity="false">
            <AppenderRef ref="AuthRollingFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.common.utils.Exec" level="warn" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="exoplex.common.utils.SafeUtils" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.common.utils.SafeUtils" level="info" additivity="false">
            <AppenderRef ref="SafeRollingFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.core.SliceHelper" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.core.SliceHelper" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.network.NetworkManager" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.core.CoreProperties" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.core.CoreProperties" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.bro.BroManager" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.demo.tridentcom.TridentSlice" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.client.exogeni.SdxExogeniClient" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.client.exogeni.ExogeniClientSlice" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.client.exogeni.SdxExogeniClient" level="debug" additivity="false">
            <AppenderRef ref="ClientRollingFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.client.exogeni.ExogeniClientSlice" level="debug" additivity="false">
            <AppenderRef ref="ClientRollingFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="org.renci.ahab.libndl.LIBNDL" level="info" additivity="true">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.network.NetworkManager" level="info" additivity="false">
            <AppenderRef ref="NetworkRollingFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.network.RoutingManager" level="info" additivity="false">
            <AppenderRef ref="RoutingRollingFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="org.apache.commons.httpclient.HttpClient" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.slice.exogeni.ExoSliceManager" level="warn" additivity="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.slice.exogeni.ExoSliceManager" level="debug" additivity="true">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.slice.exogeni.ExoSliceManager" level="info" additivity="true">
            <AppenderRef ref="SliceRollingFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="exoplex.sdx.slice.exogeni.ExoSliceManager" level="error" additivity="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>
