<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="Other" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="maxFileSize" value="1000MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="file" value="log/other.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    <appender name="Ahab" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="maxFileSize" value="1000MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="file" value="log/ahab.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    <appender name="Http" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="file" value="log/http.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    <logger name="org.apache.commons.httpclient.HttpClient">
        <level value="DEBUG"/>
        <appender-ref ref="Http"/>
    </logger>
    <logger name="org.renci.ahab.libndl.LIBNDL">
        <level value="DEBUG"/>
        <appender-ref ref="Ahab"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="Other"/>
    </root>

</log4j:configuration>
